* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --title: "Roboto", sans-serif;
    --corps: "Trirong";
    --petit-corps: "Roboto", sans-serif;
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body {
    background-color: #4E1511;
    font-family: "Roboto", sans-serif;

    h1 {
        font-family: var(--title);
        margin: 2rem;
        font-weight: 700;
        font-size: 52px;
        color: white;

        a {
            text-decoration: none;
            color: #FFF8F7;
        }
    }

    h2 {
        color: #FFF8F7;
        width: 70%;
        margin: auto;
    }

    .container-form {
        /* border: 3px solid red; */
        width: 90%;
        margin: auto;
        margin-top: 2rem;

        form {
            font-family: var(--petit-corps);
            border: 5px solid #AC4D39;
            border-radius: 20px;
            background-color: #e4a496;
            width: 60%;
            /* height: 250px; */
            margin: auto;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .section-form {
                padding: 2rem;
                width: 100%;
                height: auto;
                background-color: #4E1511;
                border: 4px solid #FFF8F7;
                border-radius: 20px;
                color: #FFF8F7;
                display: flex;
                /* flex-direction: column; */
                flex-wrap: wrap;
                justify-content: space-between;

                    .left {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        font-family: var(--petit-corps);
                        font-weight: 800;
                    }

                    .right {
                        width: 50%;
                        padding: 10px;
                        font-family: var(--petit-corps);
                        font-weight: 800;
                        display: flex;
                        flex-direction: column;
                    }
            }

            #add_movie {
                margin-top: 1rem;
                color: white;
                font-weight: 800;
                width: 30%;
                height: 40px;
                background-color: #4E1511;
                border: 3px solid white ;
                border-radius: 20px;
                cursor: pointer;
            }
            
            #add_movie:hover {
                background-color: #FFF8F7;
                border: #4E1511 3px solid;
                color: #000000;
            }
        }

    }
}